<div id="header"></div>
<div class="subnavbar" id="navigationMenu"></div>
<div class="main">
    <div id="modal-container"></div>
    <div class="container content-container" id="main-content"></div>
</div>
<div class="footer"></div>